.wp-block-cover.is-style-hover-zoom-in {
	overflow: hidden;
}
.wp-block-cover:not(.has-parallax).is-style-hover-zoom-in .wp-block-cover__image-background,
.wp-block-cover:not(.has-parallax).is-style-hover-zoom-out .wp-block-cover__background,
.wp-block-cover:not(.has-parallax).is-style-hover-zoom-out .wp-block-cover__image-background {
	transition: transform 0.8s cubic-bezier(0.2,0.1,0.3,1);
}

.wp-block-cover:not(.has-parallax).is-style-hover-zoom-in:hover .wp-block-cover__image-background,
.wp-block-cover:not(.has-parallax).is-style-hover-zoom-out:hover .wp-block-cover__image-background {
	transform: scale(1.11);
}

.wp-block-cover.has-parallax.is-style-hover-zoom-in .wp-block-cover__image-background,
.wp-block-cover.has-parallax.is-style-hover-zoom-out .wp-block-cover__image-background {
	background-size: 100%;
	transition: background-size 0.8s cubic-bezier(0.2,0.1,0.3,1);
}

.wp-block-cover.has-parallax.is-style-hover-zoom-in:hover .wp-block-cover__image-background {
	background-size: 111%;
}

.wp-block-cover:not(.has-parallax).is-style-hover-zoom-out:hover .wp-block-cover__background,
.wp-block-cover:not(.has-parallax).is-style-hover-zoom-out:hover .wp-block-cover__image-background {
	transform: scale(0.89);
}

.wp-block-cover.has-parallax.is-style-hover-zoom-out:hover .wp-block-cover__image-background {
	background-size: 89%;
}

.wp-block-cover.is-style-overlay-pixels-small .wp-block-cover__background {
	background: url(overlay-pixels-small.png) top center repeat;
}

.wp-block-cover.is-style-overlay-pixels-large .wp-block-cover__background {
	background: url(overlay-pixels-large.png) top center repeat;
}

.wp-block-cover.is-style-overlay-bricks-small .wp-block-cover__background {
	background: url(overlay-bricks-small.png) top center repeat;
}

.wp-block-cover.is-style-overlay-bricks-large .wp-block-cover__background {
	background: url(overlay-bricks-large.png) top center repeat;
}

.wp-block-cover.is-style-overlay-mosaic .wp-block-cover__background {
	background: url(overlay-mosaic.png) top center repeat;
}

.wp-block-cover.is-style-overlay-squares .wp-block-cover__background {
	background: url(overlay-squares.png) top center repeat;
}

.wp-block-cover.is-style-overlay-diagonal-large .wp-block-cover__background {
	background: url(overlay-diagonal-large.png) top center repeat;
}

.wp-block-cover.is-style-overlay-diagonal-small .wp-block-cover__background {
	background: url(overlay-diagonal-small.png) top center repeat;
}